@import url('https:fonts.googleapis.com/css?family=Poppins:20%27');
body
{
  margin: 0;
  padding: 0; 
  font-family: 'poppins', sans-serif;
  background-color: burlywood;
}
header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2); 
}
.logo{
    color: blue;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    background: #ccc;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
}
nav{
   float: right; 
}
.clearfix{
clear: both;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
   display: block;
   margin: 10px 0;
   padding: 10px 20px;
   text-decoration: none;
   color: #262626;
}
nav ul li a.active,
nav ul li a:hover{
    background: red;
    color: #fff;
    transition: 0.5s;
}
@media(max-width: 1200px){
    header{
        margin: 20px;
    }
}

@media(max-width: 768px){
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background: #ccc;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }
    .menu-toggle::before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before {
        content: '\f00d';
        
    }

    nav{
        display: none;
    }

    nav.active{
        display: block;
        width: 100%;
    }
    nav.active ul{
        display: block;
    }
    nav.active ul li a{
        margin: 0;
    }
}
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    width: 100%;
    background: brown;
    display: block;
}
.inner-footer{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-items{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
h2{
   margin: 10px 0;
   color: #fff;
   font-size: 16px;
   font-weight: lighter;
   text-transform: uppercase; 
}
.border{
    height: 2px;
    width: 40px;
    background: green;
}
ul{
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px; 
}
ul a{
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}
ul a:hover{
    color: #069370;

}/*
ul li{
    margin: 15px 0;
    height: 25px;

}
li i{
    margin-right: 20px;
}



.footer-bottom{
    padding: 10px;
    background: #3d545f;
    color: #fff;
    font-size: 12px;
/*
}

@media screen and (max-width: 1085px){
    .footer-items{
        width: 50px;
    }
}
@media screen and (max-width: 600px){
    .footer-items{
        width: 100px;
    }
}
